services:
  check-cx:
    image: bingzi233/check-cx:latest
    container_name: check-cx
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
